
.heading{
    text-align: center;
    padding: 15px;
}
.headitem{
    font-size: 50px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 1px;
}
.titleitem{
    font-size: large;
}
.container{
    display: flex;
    margin-top: 20px;
}
.line{
    border: 1px solid gray;
    margin: 20px;
}
h2{
    font-size: 30px;
    color: yellowgreen;
}
.left{
    flex: 1;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.right{
    flex: 2;
    margin: 10px;
    padding: 10px;
}
h4{
    font-size: 20px;
    color: rgb(216, 17, 110);
}